body {
  background-color: black;
}
p {
  color: green;
  text-align: center;
}
.border {
  border: 1px solid green;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.invisi {
  color: black
}

# hint here later
