body {
  background-color: black;
}
p {
  color: lime;
  text-align: center;
}
.border {
  border: 1px solid lime;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.i {
  color: black;
}
# https://drive.google.com/file/d/1NwV7I4T4p1iFeH8UAmTTSMK-qPviGz0z/view?usp=sharing
